.body {
    display: flex;
    width: 100%;
}

.body > div:first-child {
    width: 100%;
}

/* .body > div+div {
    background-color: white;
    width: 20%;
    height: 100%;
} */

.card {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    
}

.attWrapper {
    display: flex;
    width: fit-content;
}

.attDivierVertical {
    width: 2px;
    margin: 10px 20px;
    background-color: #d6d6d6;
}

.noAtt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300;
}