.table {
    border: 1px solid #eeeeee;
    border-collapse: collapse;
}

.row {
    border-bottom: 1px solid #eeeeee;
}

.lineOffset {
    width: 40px;
    background-color: #f6f6f6;
    padding: 5px;
    color: #666666;
    font-size: small;
}

.fourDoubleHex {
    padding: 5px;
    height: 35px;
}

.dividerCell {
    width: 5px
}

.doubleHex {
    display: inline-block;
}

.doubleHex:hover {
    background-color: aquamarine !important;
}

.rightColumn {
    width: 200px;
    background-color: #f6f6f6;
    padding: 0 40px;
    vertical-align: top;
    padding-top: 50px;
    p {
        /* font-size: small; */
        margin: 1px;
        span:first-child {
            font-size: small;
            color: #666666;
        }
    }
}

.rightColumnDivider {
    height: 2px;
    background-color: #e7e7e7;
    margin: 20px 0;
}

.displayViewKey:hover {
    background-color: #e9bdff !important;
}

.valueDisplayTable {
    border-collapse: collapse;
    td {
        width: 50px;
        font-size: small;
        border: 1px solid #d5d5d5;
    }
}

.rowMajor {
    tr:first-child {
        background-color: #e9e9ff;
    }
}

.colMajor {
    td:first-child {
        background-color: #e9e9ff;
    }
}

.bottomInfo {
    font-size: small;
    background-color: #f6f6f6;
    color: #666666;
    padding-left: 50px;
}